.figure{
  &_block{
    margin-top: 5px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_img{
    cursor: pointer;
    width: 60px;
  }
}
